@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit&display=swap');

:root{
 --main-font: 'Josefin Sans', sans-serif;
 --secundary-font:'Kanit', sans-serif;
 --cf-black: #101014 ;
 --cf-red: #ea1518;
 --cf-white: #fffbff;
--cf-golden: #d69a20;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size:62.5%;
  min-width: 320px;
  scroll-behavior: smooth;
}
header {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('https://drive.google.com/uc?id=1wjxXnbPHAx9bafh4xjKfSfTnW9aSBo0R');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--secundary-font);
}
header h1{
  color: white;
  font-size:3rem;
  padding: 20px;
}
header a{
  color: var(--cf-white);
  background-color: var(--cf-golden);
  padding: 6px;
  font-size: 1.5rem;
  border-radius: 7px;
  border: 2px white solid;
  text-decoration: none;
}
main{
  background-color: var(--cf-black);
  width: 100%;
  text-align: center;
  font-family: var(--main-font);
}
/* ----- Actividades -----*/
main .Dojo-activities{
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  border-bottom: 2px dotted var(--cf-golden)
}
main .sub-title {
  font-size: 2.5rem;
  color: var(--cf-red);
  padding:20px 0;
  text-decoration: underline #d69a20;
  font-family: var(--secundary-font);
}
main .name-activitie {
  font-size: 2.5rem;
  color: var(--cf-golden);
  text-decoration: underline var(--cf-red);
  margin-bottom: 10px;
  font-weight: bolder;
}
main .description{
  margin-top: 10px;
  font-size: 1.8rem;
}
main .activities{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      230px,
      1fr
    )
  );
  gap: 20px; 
  place-items: center;
}
main .activities .icon{
  width: 80px;
  height: 80px;
}
main .activities .card{
  width: 230px;
  height: 230px;
  background-color: var(--cf-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid var(--cf-golden);
  }
main .Horarios{
  padding-top: 20px;
}
main .Horarios .Tittle-Horarios{
  font-size: 2.5rem;
  color: red;
  text-decoration: underline var(--cf-golden);
  padding-bottom: 10px;
}
main .Horarios .Dias{
  color: white;
  font-size: 2rem;
  padding-top: 10px;
}
main .Horarios .Horas{
  font-size: 1.7rem;
  color: red;
  padding: 10px;
}
main .Horarios .Costo{
  font-size: 1.8rem;
  padding-top: 10px;
  color: var(--cf-golden);
}
/* Sucursales */
main .sucursales{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      250px,
      1fr
    )
  );
  gap: 20px; 
  place-items: center;
}
main .sucursales .centro{
  height: 300px;
  width: 250px;
  background-color: #d69a20;
  background-image: url('https://drive.google.com/uc?id=1u1AiYJ8cZRXRxDr8-Ns3iV30CttGwBDL');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  border: 2px solid var(--cf-golden);
}
main .sucursales .colosio{
  height: 300px;
  width: 250px;
  background-color: #d69a20;
  background-image: url('https://drive.google.com/uc?id=1sKKFE2nZdqntRlEkw5eYe9OOlH8Wg7IM');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  border: 2px solid var(--cf-golden);
}
/* ----- Beneficios -----*/
main .Dojo-Benefits{
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--cf-golden);
}
main .Dojo-Benefits .ben-text{
  font-size: 1.8rem;
  color: white;
  text-align: center;
  color: var(--cf-golden);
  padding: 0 40px;
  text-align: justify;
}

main .Dojo-Benefits span strong{
  color: var(--cf-golden);
}

main .Dojo-Benefits .icon{
  width: 70px;
  height: 70px;
}
main .benefits{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      300px,
      1fr
    )
  );
  gap: 20px; 
  place-items: center;
  padding-top: 30px;
}
main .benefits .card-1{
  width: 300px;
  height: 230px;
  background-color: var(--cf-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid var(--cf-golden);
}
main .benefits .card-1 p{
  font-size: 1.7rem;
  padding-bottom: 10px;
}
main .benefits .card-1 span{
  color: black;
  font-size: 1.3rem;
  padding: 10px;
}
/* main .benefits .nutri{
  background-image: url('https://drive.google.com/uc?id=11u7cXe3tNPdfbobvt9iBCshZgL72pxZS');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .benefits .gym{
  background-image: url('https://drive.google.com/uc?id=17E8SyiyfEX-dWv0zO0CJQeZARisVTxGe');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .benefits .quiro{
  background-image: url('https://drive.google.com/uc?id=1xhLO_o4MeokqdH1UypQz0fITkj-jBByP');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */
/*-----Sobre Nosotros -----*/
main .about-us{
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--cf-golden);
  
}
main .about-us .text{
  font-size: 1.7rem;
  color: #d69a20;
  padding: 20px;
  text-align: justify;
}
main .about-us .text-2{
  font-size: 1.7rem;
  color: #d69a20;
  padding: 20px;
  text-align: justify;
}
main .about-us .text-3{
  font-size: 1.7rem;
  color: #d69a20;
  padding: 20px;
  text-align: justify;
  margin-bottom: 20px;
}
main .about-us a{
  font-size: 1.7rem;
  color: var(--cf-red);
  text-decoration: none;
  border: 2px solid var(--cf-red);
  padding: 10px;
  border-radius: 20px;
}
/*-----Head Coach -----*/
main .Head-coach{
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--cf-golden)
}
main .Head-coach .coach-info{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      230px,
      1fr
    )
  );
  gap: 20px; 
  place-items: center;
}
main .Head-coach .coach-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
main .Head-coach .coach-info .Coach-name{
  font-size: 2rem;
  color: var(--cf-golden);
  padding: 20px;
}
main .Head-coach .coach-info .img{
  width:230px;
  height: 230px;
  border-radius: 50%;
  border: 3px inset var(--cf-golden);
  background-image: url('https://drive.google.com/uc?id=1D3JoSICuF-tk7jgGF4EAzQg7ULo8k9EQ');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main .Head-coach .coach-CV p{
  font-size: 1.5rem;
  color: white;
  margin: 20px;
  text-align: justify;
}
/*----- Logros -----*/
main .Federaciones{
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  border-bottom: 2px dotted var(--cf-golden)
}
main .Federaciones .text{
  font-size: 1.7rem;
  color: #d69a20;
  padding: 10px 25px;
  text-align: justify;
}
  main .Federaciones .afiliaciones{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      140px,
      1fr
    )
  );
  gap: 20px; 
  place-items: center;
  padding: 20px;
}
main .Federaciones .afiliaciones .img-bjj{
  width:150px;
  height: 150px;
  border-radius: 50%;
  border: solid 2px var(--cf-golden);
  background-image: url('https://drive.google.com/uc?id=1x-6KSid_dM0MiPKAXGRmqZQYHndwzJ-5');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .Federaciones .afiliaciones .img-kick{
  width:150px;
  height: 150px;
  border-radius: 50%;
  border: solid 2px var(--cf-golden);
  background-image: url('https://drive.google.com/uc?id=1NaHTOOpvA60SIcUgl4E8SvpIXdHHTgsl');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .Federaciones .afiliaciones .img-wkc{
  width:150px;
  height: 150px;
  border-radius: 50%;
  border: solid 2px var(--cf-golden);
  background-image: url('https://drive.google.com/uc?id=18Kwz1h8we6rt43034eWflU7SBpAJKCMr');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .Federaciones .afiliaciones .img-mma{
  width:150px;
  height: 150px;
  border-radius: 50%;
  border: solid 2px var(--cf-golden);
  background-image: url('https://drive.google.com/uc?id=1t6wJYJtrvAWBY6jAuxC3UkmPDSrA9w9l');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}